<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proxy Error Talos</title>
    <style>@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100);

    html body {
        font-family: 'Roboto', sans-serif;
        background-color: white;
        line-height: 1.6;
        font-size: 16px;
    }

    img {
        border-radius: 5em;
    }

    .small {
        font-size: small;
        padding: 10px 10px 10px 10px;
    }

    .main {
        width: 600px;
        margin: 0 auto;
    }

    .center {
        text-align: center;
    }</style>
</head>
<body>
<div class="main"><h1 class="center">Proxy Error</h1>
    <p class="small center">:date</p>
    <hr/>
    <div>
        <table width="100%" style="margin: 50px 0 50px 0;">
            <caption>CONTEXT VARIABLES</caption>
            <thead>
            <th>Key</th>
            <th>Value</th>
            </thead>
            <tbody> :vars</tbody>
        </table>
    </div>
    <hr/>
    <div style="margin: 50px 0 0 0"><h3>DATA:</h3>
        <p>:data</p></div>
</div>
</body>
</html>
