<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EchoGate Proxy Management</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">

    <style>

        a {
            text-decoration: none;
        }

        a:hover {
            color: #bdbdbd;
        }

        th, td {
            text-align: center;
            font-size: 16px;
            font-weight: 100;
            letter-spacing: .01em;
            line-height: 24px
        }

        tr:nth-child(even) {
            background-color: rgb(255, 193, 7);
        }

        table {
            border: 1px solid black;
            margin-top: 5px;
        }


    </style>

</head>
<body ng-app="talosproxy" ng-controller="proxyCtrl" ng-strict-di>


<div layout="row" ng-cloak>


    <md-sidenav
            class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')"
            md-whiteframe="4">

        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Proxy</h1>


            <ul style="background: white;">
                <li style="padding: 10px 0 10px 0;" ng-repeat="gateway in gateways">
                    <a href="#{{gateway.domain}}">{{gateway.domain}}</a>
                </li>
            </ul>

        </md-toolbar>

    </md-sidenav>

    <md-content flex>


        <div flex="90" flex-offset="5">

            <div flex="100" layout="row">

                <section flex="50" class="md-whiteframe-2dp" style="border-radius: 4px;
  margin-bottom: 16px;
  transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
  position: relative;
  padding-bottom: 0; margin-right: 5px;">
                    <md-content>

                        <md-toolbar>
                            <div class="md-toolbar-tools">New Virtual Host</div>
                        </md-toolbar>

                        <div layout="row" flex layout-padding>

                            <form name="newVirtualHostForm" flex
                                  ng-submit="newVirtualHostForm.$valid && submitNewVirtualForm()" novalidate>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Domain</label>
                                    <input name="host" ng-model="v.domain" required autocomplete="off">

                                    <div ng-messages="newVirtualHostForm.host.$error" role="alert" multiple>
                                        <div ng-message="required" class="my-message">You must supply a domain</div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Label</label>
                                    <input name="name" ng-model="v.name" required autocomplete="off">

                                    <div ng-messages="newVirtualHostForm.name.$error" role="alert" multiple>
                                        <div ng-message="required" class="my-message">You must supply label</div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Request Timeout</label>
                                    <input name="requestTimeout" type="number" ng-model="v.requestTimeout" required>

                                    <div ng-messages="newVirtualHostForm.requestTimeout.$error" role="alert" multiple>
                                        <div ng-message="required" class="my-message">You must supply a request
                                            timeout
                                        </div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block" required>
                                    <label>Load Balancer</label>
                                    <md-select name="loadBalancer" ng-model="v.loadBalancer">
                                        <md-option value="1">First Free</md-option>
                                        <md-option value="0">Round Robin</md-option>
                                    </md-select>
                                    <div ng-messages="newVirtualHostForm.loadBalancer.$error" role="alert" multiple>
                                        <div ng-message="required" class="my-message">You must define one load balancer
                                        </div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block" required>
                                    <label>Middlewares</label>
                                    <md-select name="middlewares"
                                               ng-model="v.middlewares" multiple>
                                        <md-option ng-repeat="middleware in middlewares"
                                                   ng-value="middleware">
                                            {{middleware.name}}({{middleware.arguments}})
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                                <div flex layout="row" layout-align="space-between end">
                                    <h4 style="margin-top: 50px;">Upstream Hosts</h4>
                                    <md-button class="md-icon-button"
                                               ng-click="v.upstreamHosts.push({host:'127.0.0.1',port:0,isHTTP:false,isHTTPS:false,isHTTP2:false})">
                                        <md-icon md-svg-src="assets/plus.svg"></md-icon>
                                    </md-button>
                                </div>

                                <div style="margin-left: 20px;">
                                    <div style="border-bottom: black 5px solid; margin-top: 10px; padding-left: 5px;"
                                         layout="column"
                                         ng-repeat="up in v.upstreamHosts">

                                        <div flex layout="row">

                                            <md-input-container flex="80">
                                                <label>Host</label>
                                                <input ng-model="up.host">
                                            </md-input-container>

                                            <md-input-container>
                                                <label>Port</label>
                                                <input type="number" ng-model="up.port">
                                            </md-input-container>
                                        </div>

                                        <div flex layout="row" layout-align="space-around center">
                                            <md-input-container>
                                                <md-switch class="md-primary" ng-model="up.isHTTP">
                                                    HTTP
                                                </md-switch>
                                            </md-input-container>

                                            <md-input-container>
                                                <md-switch class="md-primary" ng-model="up.isHTTPS">
                                                    HTTPs
                                                </md-switch>
                                            </md-input-container>

                                            <md-input-container>
                                                <md-switch class="md-primary" ng-model="up.isHTTP2">
                                                    HTTP2
                                                </md-switch>
                                            </md-input-container>
                                        </div>

                                        <div layout="row" layout-align="end end">
                                            <md-button class="md-warn" ng-click="deleteUpstreamFromForm($event, v, up)">
                                                Delete
                                            </md-button>
                                        </div>

                                    </div>
                                </div>

                                <div layout="row">
                                    <md-button type="submit">Submit</md-button>
                                </div>

                            </form>

                        </div>
                    </md-content>
                </section>

                <section flex="50" class="md-whiteframe-2dp" style="border-radius: 4px;
  margin-bottom: 16px;
  transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
  position: relative;
  padding-bottom: 0;">
                    <md-content>

                        <md-toolbar>
                            <div class="md-toolbar-tools">New API Gateway</div>
                        </md-toolbar>

                        <div layout="row" flex layout-padding>

                            <form name="newApiGatewayForm" flex
                                  ng-submit="newApiGatewayForm.$valid && submitNewApiGateway()" novalidate>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Domain</label>
                                    <input name="host" ng-model="a.domain" required autocomplete="off">

                                    <div ng-messages="newApiGatewayForm.host.$error" role="alert" multiple>
                                        <div ng-message="required" class="my-message">You must supply a domain</div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Label</label>
                                    <input name="label" ng-model="a.name" required autocomplete="off">

                                    <div ng-messages="newApiGatewayForm.label.$error" role="alert" multiple>
                                        <div ng-message="required" class="my-message">You must supply label</div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Request Timeout</label>
                                    <input name="requestTimeout" type="number" ng-model="a.requestTimeout" required>

                                    <div ng-messages="newApiGatewayForm.requestTimeout.$error" role="alert" multiple>
                                        <div ng-message="required" class="my-message">You must supply a request
                                            timeout
                                        </div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block" required>
                                    <label>Load Balancer</label>
                                    <md-select name="loadBalancer" ng-model="a.loadBalancer">
                                        <md-option value="1">First Free</md-option>
                                        <md-option value="0">Round Robin</md-option>
                                    </md-select>
                                    <div ng-messages="newApiGatewayForm.loadBalancer.$error" role="alert" multiple>
                                        <div ng-message="required" class="my-message">You must define one load balancer
                                        </div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block" required>
                                    <label>Middlewares</label>
                                    <md-select name="middlewares"
                                               ng-model="a.middlewares" multiple>
                                        <md-option ng-repeat="middleware in middlewares"
                                                   ng-value="middleware">
                                            {{middleware.name}}({{middleware.arguments}})
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                                <div flex layout="row" layout-align="space-between end">
                                    <h4 style="margin-top: 50px;">API Routes</h4>
                                    <md-button class="md-icon-button"
                                               ng-click="a.routes.push({route:'/',upstreamHosts:[]})">
                                        <md-icon md-svg-src="assets/plus.svg"></md-icon>
                                    </md-button>
                                </div>

                                <div layout="row" flex layout-wrap layout-align="space-between center"
                                     ng-repeat="r in a.routes">

                                    <md-input-container flex="70">
                                        <label>Route</label>
                                        <input name="host" ng-model="r.route" required autocomplete="off">

                                    </md-input-container>

                                    <md-input-container>
                                        <md-switch class="md-primary" ng-model="r.isRegex">
                                            Regex
                                        </md-switch>
                                    </md-input-container>

                                    <div flex="100" style="padding-left: 10px; border-left: 5px solid black;">

                                        <div flex layout="row" layout-align="space-between end">
                                            <h5>Upstream Hosts</h5>
                                            <md-button class="md-icon-button"
                                                       ng-click="r.upstreamHosts.push({host:'127.0.0.1',port:0,isHTTP:false,isHTTPS:false,isHTTP2:false})">
                                                <md-icon md-svg-src="assets/plus.svg"></md-icon>
                                            </md-button>
                                        </div>

                                        <div style="margin-left: 20px;">
                                            <div style="border-bottom: black 5px solid; padding-left: 5px;"
                                                 layout="column"
                                                 ng-repeat="up in r.upstreamHosts">

                                                <div flex layout="row">

                                                    <md-input-container flex="80">
                                                        <label>Host</label>
                                                        <input ng-model="up.host" autocomplete="off">
                                                    </md-input-container>

                                                    <md-input-container>
                                                        <label>Port</label>
                                                        <input type="number" ng-model="up.port" autocomplete="off">
                                                    </md-input-container>
                                                </div>

                                                <div flex layout="row" layout-align="space-around center">
                                                    <md-input-container>
                                                        <md-switch class="md-primary" ng-model="up.isHTTP">
                                                            HTTP
                                                        </md-switch>
                                                    </md-input-container>

                                                    <md-input-container>
                                                        <md-switch class="md-primary" ng-model="up.isHTTPS">
                                                            HTTPs
                                                        </md-switch>
                                                    </md-input-container>

                                                    <md-input-container>
                                                        <md-switch class="md-primary" ng-model="up.isHTTP2">
                                                            HTTP2
                                                        </md-switch>
                                                    </md-input-container>
                                                </div>

                                                <div layout="row" layout-align="end end">
                                                    <md-button class="md-warn"
                                                               ng-click="deleteUpstreamFromForm($event, r, up)">
                                                        Delete
                                                    </md-button>
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div layout="row">
                                    <md-button type="submit">Submit</md-button>
                                </div>

                            </form>

                        </div>
                    </md-content>
                </section>

            </div>
        </div>

        <div id="{{gateway.domain}}" layout="row" ng-repeat="gateway in gateways" flex="66" flex-offset="15">

            <div layout="row" flex>
                <section flex="100" class="md-whiteframe-2dp" style="border-radius: 4px;
  margin-bottom: 16px;
  transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
  position: relative;
  padding-bottom: 0;">
                    <md-content>

                        <md-toolbar>
                            <div layout="row">
                                <div class="md-toolbar-tools">{{gateway.domain}}</div>
                                <md-button ng-click="deleteGateway(gateway)">Delete</md-button>
                            </div>
                        </md-toolbar>

                        <div layout="row" flex layout-padding>

                            <div flex>
                                <table width="100%">
                                    <thead>
                                    <th>Last Request</th>
                                    <th>Total Requests</th>
                                    <th>Latency</th>
                                    </thead>
                                    <tr>
                                        <td>{{ stats[gateway.domain+':last'] ? (
                                            stats[gateway.domain+':last'] | date:'yyyy-MM-dd HH:mm:ss Z') : 0 }}
                                        </td>
                                        <td>{{ stats[gateway.domain+':req'] ?
                                            stats[gateway.domain+':req'] : 0 }}
                                        </td>
                                        <td>
                                            {{ stats[gateway.domain+':latency'] ?
                                            stats[gateway.domain+':latency'] : 0 }} ms
                                        </td>
                                    </tr>
                                </table>

                                <table width="100%">
                                    <thead>
                                    <th>Status Code</th>
                                    <th>Count</th>
                                    </thead>
                                    <tr ng-repeat="statusCode in statusCodes.get(gateway.domain)">
                                        <td>{{ statusCode.split(':')[0] }}
                                        </td>
                                        <td>
                                            {{ statusCode.split(':')[1] }}
                                        </td>
                                    </tr>
                                </table>

                                <p>
                                    <md-input-container class="md-block" flex="100">
                                        <label>Request Timeout</label>
                                        <input type="number" ng-model="gateway.requestTimeout">
                                    </md-input-container>
                                </p>

                                <p>
                                    <md-input-container class="md-block" flex="100">
                                        <label>Load Balancer</label>
                                        <md-select ng-change="updateApiGateway(gateway)" name="loadBalancer"
                                                   ng-model="gateway.loadBalancer">
                                            <md-option value="1">First Free</md-option>
                                            <md-option value="0">Round Robin</md-option>
                                        </md-select>
                                    </md-input-container>
                                </p>

                                <p>
                                    <md-input-container class="md-block" required>
                                        <label>Middlewares</label>
                                        <md-select name="middlewares"
                                                   ng-model="gateway.middlewares" multiple
                                                   ng-model-options="{ trackBy: '$value.id' }">
                                            <md-option ng-repeat="middleware in middlewares" ng-value="middleware">
                                                {{middleware.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </p>

                                <md-list ng-if="gateway.type === 'apiGateway'">
                                    <md-subheader class="md-no-sticky">
                                        <div flex layout="row" layout-align="space-between end">
                                            <h4 style="margin-top: 10px;">Routes</h4>
                                            <md-button class="md-icon-button"
                                                       ng-click="gateway.routes.push({route:'/route',isRegex:false, upstreamHosts:[{host:'127.0.0.1',port:0,isHTTP:false,isHTTPS:false,isHTTP2:false}]})">
                                                <md-icon md-svg-src="assets/plus.svg"></md-icon>
                                            </md-button>
                                        </div>
                                        <hr/>
                                    </md-subheader>

                                    <div ng-repeat="r in gateway.routes"
                                         style="padding-left: 10px; border-bottom: 2px solid black;">

                                        <div layout="row" flex layout-wrap layout-align="space-between center">

                                            <md-input-container flex="70">
                                                <label>Route</label>
                                                <input name="host" ng-model="r.route" required autocomplete="off">

                                            </md-input-container>

                                            <md-input-container>
                                                <md-switch class="md-primary" ng-model="r.isRegex">
                                                    Regex
                                                </md-switch>
                                            </md-input-container>

                                            <div flex="100" style="padding-left: 10px;">

                                                <div flex layout="row" layout-align="space-between end">
                                                    <h5>Upstream Hosts</h5>
                                                    <md-button class="md-icon-button"
                                                               ng-click="r.upstreamHosts.push({host:'127.0.0.1',port:0,isHTTP:false,isHTTPS:false,isHTTP2:false})">
                                                        <md-icon md-svg-src="assets/plus.svg"></md-icon>
                                                    </md-button>
                                                </div>

                                                <div style="margin-left: 20px;">
                                                    <div
                                                            layout="column"
                                                            ng-repeat="up in r.upstreamHosts">

                                                        <div flex layout="row">

                                                            <md-input-container flex="80">
                                                                <label>Host</label>
                                                                <input ng-model="up.host" autocomplete="off">
                                                            </md-input-container>

                                                            <md-input-container>
                                                                <label>Port</label>
                                                                <input type="number" ng-model="up.port"
                                                                       autocomplete="off">
                                                            </md-input-container>
                                                        </div>

                                                        <div flex layout="row" layout-align="space-around center">
                                                            <md-input-container>
                                                                <md-switch class="md-primary" ng-model="up.isHTTP">
                                                                    HTTP
                                                                </md-switch>
                                                            </md-input-container>

                                                            <md-input-container>
                                                                <md-switch class="md-primary" ng-model="up.isHTTPS">
                                                                    HTTPs
                                                                </md-switch>
                                                            </md-input-container>

                                                            <md-input-container>
                                                                <md-switch class="md-primary" ng-model="up.isHTTP2">
                                                                    HTTP2
                                                                </md-switch>
                                                            </md-input-container>
                                                        </div>

                                                        <div layout="row" layout-align="end end">
                                                            <md-button class="md-warn"
                                                                       ng-click="deleteUpstreamFromForm($event, r, up)">
                                                                Delete
                                                            </md-button>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                    <md-button ng-click="updateApiGateway(gateway)">Save</md-button>

                                </md-list>


                                <md-list ng-if="gateway.type === 'virtualHost'">
                                    <md-subheader class="md-no-sticky">
                                        <div flex layout="row" layout-align="space-between end">
                                            <h4 style="margin-top: 10px;">Upstream Hosts</h4>
                                            <md-button class="md-icon-button"
                                                       ng-click="gateway.upstreamHosts.push({host:'127.0.0.1',port:0,isHTTP:false,isHTTPS:false,isHTTP2:false})">
                                                <md-icon md-svg-src="assets/plus.svg"></md-icon>
                                            </md-button>
                                        </div>
                                        <hr/>
                                    </md-subheader>

                                    <md-list-item ng-repeat="upstream in gateway.upstreamHosts">

                                        <div flex layout="column" style="border-bottom: 1px solid black;">

                                            <div flex layout="row" layout-align="space-between start">

                                                <md-input-container flex="60">
                                                    <label>Host</label>
                                                    <input ng-model="upstream.host">
                                                </md-input-container>
                                                <md-input-container flex="40">
                                                    <label>Port</label>
                                                    <input type="number" ng-model="upstream.port">
                                                </md-input-container>
                                            </div>

                                            <div flex layout="row" layout-align="space-around center">

                                                <md-input-container>
                                                    <md-switch ng-disabled="true" class="md-primary"
                                                               ng-model="upstream.isAlive">
                                                        Alive
                                                    </md-switch>
                                                </md-input-container>

                                                <md-input-container>
                                                    <md-switch class="md-primary" ng-model="upstream.isHTTP">
                                                        HTTP
                                                    </md-switch>
                                                </md-input-container>

                                                <md-input-container>
                                                    <md-switch class="md-primary" ng-model="upstream.isHTTPS">
                                                        HTTPs
                                                    </md-switch>
                                                </md-input-container>

                                                <md-input-container>
                                                    <md-switch class="md-primary" ng-model="upstream.isHTTP2">
                                                        HTTP2
                                                    </md-switch>
                                                </md-input-container>
                                            </div>

                                            <div layout="row" layout-align="end end">
                                                <md-button class="md-warn"
                                                           ng-click="deleteUpstreamFromForm($event, gateway, upstream)">
                                                    Delete
                                                </md-button>
                                            </div>

                                        </div>

                                    </md-list-item>


                                    <md-button ng-click="updateVirtualHost(gateway)">Save</md-button>

                                </md-list>


                            </div>
                        </div>
                    </md-content>
                </section>
            </div>
        </div>

    </md-content>

</div>


<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-cookies.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

<script>

    angular.module('talosproxy', ['ngMaterial', 'ngMessages', 'ngCookies'])
        .controller('proxyCtrl', [
            "$scope",
            "$http",
            "$mdToast",
            "$interval",
            '$mdDialog', function ($scope, $http, $mdToast, $interval, $mdDialog) {

                const defaultHost = {
                    middlewares: [],
                    upstreamHosts: [{
                        host: '127.0.0.1',
                        port: 9090,
                        isHTTP: false,
                        isHTTPS: false,
                        isHTTP2: false
                    }]
                };

                const defaultApiGateway = {
                    middlewares: [],
                    routes: [
                        {
                            route: '', upstreamHosts: [{
                                host: '127.0.0.1', port: 9090,
                                isHTTP: false,
                                isHTTPS: false,
                                isHTTP2: false
                            }]
                        }
                    ]
                };

                $scope.middlewareChanged = (gateway) => {

                    if (gateway.middlewares.length > 0) {
                        return new Promise((resolve, reject) => {

                            const mid = (midx) => {

                                const middleware = gateway.middlewares[midx];

                                if (!middleware) {
                                    resolve(true);
                                    return;
                                }

                                if (!middleware.isComplete) {

                                    const keys = Object.keys(middleware.args);

                                    if (keys.length > 0) {

                                        const next = (idx) => {

                                            const key = keys[idx];

                                            if (!key) {
                                                mid(midx + 1);
                                                return;
                                            }

                                            const confirm = $mdDialog.prompt()
                                                .title('Middleware Configuration')
                                                .textContent(middleware.id)
                                                .placeholder(middleware.args[key])
                                                .ariaLabel(middleware.args[key].type)
                                                .initialValue(middleware.args[key].default || '')
                                                .required(middleware.args[key].required || false)
                                                .ok('Ok')
                                                .cancel('Cancel');

                                            $mdDialog.show(confirm).then(function (result) {
                                                middleware.isComplete = true;

                                                if (middleware.args[key].type === 'number') {
                                                    middleware.payload = {
                                                        type: middleware.id,
                                                        args: {
                                                            [key]: Number(result)
                                                        }
                                                    }
                                                } else {
                                                    middleware.payload = {
                                                        type: middleware.id,
                                                        args: {
                                                            [key]: result
                                                        }
                                                    }
                                                }

                                                next(idx + 1);
                                            }, function () {
                                                reject(new Error("Invalid middleware input"));
                                            });
                                        }

                                        next(0);
                                    } else {
                                        middleware.payload = {
                                            type: middleware.id,
                                            args: {}
                                        }
                                        mid(midx + 1);
                                    }
                                }
                            }

                            mid(0);
                        });
                    }
                    return Promise.resolve(true);
                }

                $scope.v = JSON.parse(JSON.stringify(defaultHost));
                $scope.a = JSON.parse(JSON.stringify(defaultApiGateway));
                $scope.middlewares = [];
                $scope.apiGateways = [];

                $scope.showToast = function (message) {
                    $mdToast.show(
                        $mdToast.simple()
                            .position('top end')
                            .textContent(message)
                            .hideDelay(3000)
                    );
                };

                $scope.setRoutesAsArray = function (gateway) {
                    const arr = [];
                    for (let [route, hosts] of Object.entries(gateway.routesToUpstreamHosts || {})) {
                        const isRegex = route.startsWith('r');

                        if (isRegex) {
                            route = route.substring(1);
                        }

                        arr.push({
                            route,
                            isRegex,
                            upstreamHosts: hosts
                        })
                    }

                    gateway.routes = arr;


                    return gateway;
                }

                $scope.setMidId = (gateway) => {

                    gateway.middlewares.forEach((m) => {
                        m.id = m.type;
                    });

                    return gateway;
                }

                $scope.submitNewVirtualForm = () => {

                    $scope.v.loadBalancer = Number($scope.v.loadBalancer);

                    $scope.middlewareChanged($scope.v)
                        .then(() => {

                            const payload = JSON.parse(JSON.stringify($scope.v));

                            payload.middlewares = $scope.v.middlewares.map((m) => m.payload);

                            $http.post('api/v1/virtualhost', payload)
                                .then((response) => {
                                    $scope.gateways.unshift(
                                        $scope.setMidId(response.data)
                                    );
                                    $scope.v = JSON.parse(JSON.stringify(defaultHost));
                                    $scope.showToast('Host created with success');
                                })
                                .catch((error) => {
                                    console.debug("Error creating vHost", error);
                                    $scope.showToast('Error creating vHost');
                                });


                        }).catch((error) => {
                        console.debug("Error creating vHost", error);
                        $scope.showToast(error.toString());
                    });
                };

                $scope.updateVirtualHost = function (gateway) {

                    const payload = JSON.parse(JSON.stringify(gateway));

                    $scope.middlewareChanged(payload)
                        .then(() => {

                            payload.middlewares = payload.middlewares.map((m) => m.payload);

                            $http.put('api/v1/virtualhost/' + gateway.domain, payload)
                                .then(() => {
                                    $scope.showToast('Update with success');
                                })
                                .catch((error) => {
                                    console.debug("Error updating vHost upstream", gateway, error);
                                    $scope.showToast('Error updating host');
                                });

                        })
                        .catch((error) => {
                            console.debug("Error updating vHost upstream", gateway, error);
                            $scope.showToast(error.toString());
                        });
                }


                $scope.submitNewApiGateway = () => {

                    $scope.a.loadBalancer = Number($scope.a.loadBalancer);

                    $scope.middlewareChanged($scope.a)
                        .then(() => {

                            const payload = JSON.parse(JSON.stringify($scope.a));

                            payload.middlewares = $scope.a.middlewares.map((m) => m.payload);
                            payload.routesToUpstreamHosts = {};

                            for (let route of payload.routes) {
                                let r = route.route;

                                if (route.isRegex) {
                                    r = 'r' + r.split("/").join("\\\/").replace(/\*/g, '\.*')
                                }

                                payload.routesToUpstreamHosts[r] = route.upstreamHosts;
                            }

                            //delete $scope.a.routes;

                            $http.post('api/v1/api-gateway', payload)
                                .then((response) => {
                                    $scope.gateways.unshift(
                                        $scope.setMidId($scope.setRoutesAsArray(response.data))
                                    );
                                    $scope.a = JSON.parse(JSON.stringify(defaultApiGateway));
                                    $scope.showToast('API Gateway created with success');
                                })
                                .catch((error) => {
                                    console.debug("Error creating API Gateway", error);
                                    $scope.showToast('Error API Gateway');
                                })

                        })
                        .catch((error) => {
                            console.debug("Error creating API Gateway", error);
                            $scope.showToast(error.toString());
                        });
                }

                $scope.updateApiGateway = function (gateway) {

                    const routes = {}

                    const payload = JSON.parse(JSON.stringify(gateway));

                    $scope.middlewareChanged(payload)
                        .then(() => {

                            payload.middlewares = payload.middlewares.map((m) => m.payload);

                            for (let route of payload.routes) {
                                let r = route.route
                                if (route.isRegex) {
                                    r = 'r' + route.route;
                                }
                                routes[r] = route.upstreamHosts;
                            }
                            payload.routesToUpstreamHosts = routes;

                            $http.put('api/v1/api-gateway/' + gateway.domain, payload)
                                .then(() => {
                                    $scope.showToast('Update with success');
                                })
                                .catch((error) => {
                                    console.debug("Error updating vHost upstream", error);
                                    $scope.showToast('Error updating host');
                                });

                        }).catch((error) => {
                        console.debug("Error updating vHost upstream", error);
                        $scope.showToast(error.toString());
                    });
                };

                $scope.deleteGateway = (gateway) => {

                    let url = gateway.type === 'apiGateway' ? 'api-gateway' : 'virtualhost';

                    $http.delete('api/v1/' + url + '/' + gateway.domain)
                        .then(() => {
                            console.debug('Deleted ' + gateway.domain + 'host');
                            $scope.gateways = $scope.gateways.filter(g => g.domain !== gateway.domain);
                            $scope.showToast('Gateway was deleted');
                        })
                        .catch((error) => {
                            console.debug('Could not delete Gateway', gateway, error);
                            $scope.showToast('Gateway was not deleted');
                        });
                };

                $scope.deleteUpstreamFromForm = (ev, virtual, upstream) => {
                    if (virtual) {
                        virtual.upstreamHosts = virtual
                            .upstreamHosts
                            .filter(u => !(u === upstream));
                    }
                };

                $http.get('api/v1/middleware')
                    .then((response) => {
                        $scope.middlewares.push(
                            ...response.data
                                .filter(m => !m.global)
                                .map((m) => {
                                    m.arguments = Object.keys(m.args).join(',');
                                    return m;
                                })
                        );
                        console.debug("middleware response", response);
                    }).catch((error) => {
                    console.debug("Error fetching middlewares", error);
                    $scope.showToast('Could load middlewares from the server');
                });

                $http.get('api/v1/gateway')
                    .then((response) => {

                        $scope.gateways = [
                            ...response.data.virtualHost,
                            ...response.data.apiGateway.map((a) => $scope.setRoutesAsArray(a))
                        ].map((g) => {
                            return $scope.setMidId(g);
                        });

                        console.debug("hosts response", response);
                    })
                    .catch((error) => {
                        console.debug("Error fetching VHosts", error);
                        $scope.showToast('Could not get virtual hosts from the server');
                    });


                $scope.fetchStats = () => {
                    $http.get('api/v1/stats')
                        .then((response) => {

                            $scope.statusCodes = new Map();
                            $scope.stats = response.data;

                            for (const key in $scope.stats) {
                                if (/[0-9]{3}$/.test(key)) {

                                    const vParts = key.split(':');
                                    const vKey = vParts[0];
                                    const vCode = vParts[1];

                                    if (!$scope.statusCodes.has(vKey)) {
                                        $scope.statusCodes.set(vKey, []);
                                    }

                                    $scope.statusCodes.get(vKey).push(vCode + ':' + $scope.stats[key]);
                                }
                            }

                            console.debug("stats response", response);
                        })
                        .catch((error) => {
                            console.debug("Error fetching stats", error);
                            $scope.showToast('Could not get stats from the server');
                        });
                };

                $scope.fetchStats();


                /*$interval(() => {
                    $scope.fetchStats();
                }, 12000);*/

            }])
        .config(["$mdThemingProvider", "$httpProvider", function ($mdThemingProvider, $httpProvider) {

            $mdThemingProvider.theme('default').primaryPalette('amber');

            $httpProvider.interceptors.push(["$cookies", function ($cookies) {
                return {
                    response: function (config) {

                        config.headers['Authorization'] = 'Basic ' + $cookies.get('password');

                        return config;
                    }
                }
            }])

        }]);

</script>

</body>
</html>
