<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Talos Proxy Management</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">

    <style>
        th, td {
            text-align: center;
            font-size: 16px;
            font-weight: 100;
            letter-spacing: .01em;
            line-height: 24px
        }

        tr:nth-child(even) {
            background-color: rgb(255, 193, 7);
        }

        table {
            border: 1px solid black;
            margin-top: 5px;
        }

    </style>

</head>
<body ng-app="talosproxy" ng-controller="proxyCtrl" ng-strict-di>


<div layout="row" ng-cloak>


    <md-sidenav
            class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')"
            md-whiteframe="4">

        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Talos Proxy</h1>
        </md-toolbar>


    </md-sidenav>

    <md-content flex>

        <div flex="66" flex-offset="15">
            <section flex="100" class="md-whiteframe-2dp" style="border-radius: 4px;
  margin-bottom: 16px;
  transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
  position: relative;
  padding-bottom: 0;">
                <md-content>

                    <md-toolbar>
                        <div class="md-toolbar-tools">New Host</div>
                    </md-toolbar>

                    <div layout="row" flex layout-padding>

                        <form name="newVirtualHostForm" flex
                              ng-submit="newVirtualHostForm.$valid && submitNewVirtualForm()" novalidate>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Host</label>
                                <input name="host" ng-model="v.host" required>

                                <div ng-messages="newVirtualHostForm.host.$error" role="alert" multiple>
                                    <div ng-message="required" class="my-message">You must supply host</div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Label</label>
                                <input name="name" ng-model="v.name" required>

                                <div ng-messages="newVirtualHostForm.name.$error" role="alert" multiple>
                                    <div ng-message="required" class="my-message">You must supply label</div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block" required>
                                <label>Load Balancer</label>
                                <md-select name="lb" ng-model="v.lb">
                                    <md-option value="1">First Free</md-option>
                                    <md-option value="0">Round Robin</md-option>
                                </md-select>
                                <div ng-messages="newVirtualHostForm.lb.$error" role="alert" multiple>
                                    <div ng-message="required" class="my-message">You must define one load balancer
                                    </div>
                                </div>
                            </md-input-container>

                            <div layout="row" ng-repeat="up in v.upstreamHosts">

                                <md-input-container>
                                    <label>Host</label>
                                    <input ng-model="up.host">
                                </md-input-container>

                                <md-input-container>
                                    <label>Port</label>
                                    <input type="number" ng-model="up.port">
                                </md-input-container>

                                <md-button ng-click="deleteUpstreamFromForm($event, v, up)">Delete</md-button>
                            </div>

                            <div layout="row">
                                <md-button flex="100" ng-click="v.upstreamHosts.push({host:'127.0.0.1',port:0})">New
                                </md-button>

                                <md-button type="submit">Submit</md-button>
                            </div>

                        </form>

                    </div>
                </md-content>
            </section>
        </div>


        <div layout="row" ng-repeat="virtualHost in virtualHosts" flex="66" flex-offset="15">

            <div layout="row" flex>
                <section flex="100" class="md-whiteframe-2dp" style="border-radius: 4px;
  margin-bottom: 16px;
  transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
  position: relative;
  padding-bottom: 0;">
                    <md-content>

                        <md-toolbar>
                            <div layout="row">
                                <div class="md-toolbar-tools">{{virtualHost.host}}</div>
                                <md-button ng-click="deleteVirtualHost(virtualHost.host)">Delete</md-button>
                            </div>
                        </md-toolbar>

                        <div layout="row" flex layout-padding>

                            <div flex>
                                <table width="100%">
                                    <thead>
                                    <th>Last Request</th>
                                    <th>Total Requests</th>
                                    <th>Latency</th>
                                    </thead>
                                    <tr>
                                        <td>{{ stats[virtualHost.host+':last'] ? (
                                            stats[virtualHost.host+':last'] | date:'yyyy-MM-dd HH:mm:ss Z') : 0 }}
                                        </td>
                                        <td>{{ stats[virtualHost.host+':req'] ?
                                            stats[virtualHost.host+':req'] : 0 }}
                                        </td>
                                        <td>
                                            {{ stats[virtualHost.host+':latency'] ?
                                            stats[virtualHost.host+':latency'] : 0 }} ms
                                        </td>
                                    </tr>
                                </table>

                                <table width="100%">
                                    <thead>
                                    <th>Status Code</th>
                                    <th>Count</th>
                                    </thead>
                                    <tr ng-repeat="statusCode in statusCodes.get(virtualHost.host)">
                                        <td>{{ statusCode.split(':')[0] }}
                                        </td>
                                        <td>
                                            {{ statusCode.split(':')[1] }}
                                        </td>
                                    </tr>
                                </table>

                                <p>
                                    <md-input-container class="md-block" flex="100">
                                        <label>Load Balancer</label>
                                        <md-select ng-change="updateVirtualHost(virtualHost)" name="lb"
                                                   ng-model="virtualHost.lb">
                                            <md-option value="1">First Free</md-option>
                                            <md-option value="0">Round Robin</md-option>
                                        </md-select>
                                    </md-input-container>
                                </p>


                                <md-list>
                                    <md-subheader class="md-no-sticky">Upstreams</md-subheader>
                                    <md-list-item ng-repeat="upstream in virtualHost.upstreamHosts">

                                        <md-input-container flex="50">
                                            <label>Host</label>
                                            <input ng-model="upstream.host">
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>Port</label>
                                            <input type="number" ng-model="upstream.port">
                                        </md-input-container>


                                        <md-button class="md-secondary"
                                                   ng-click="deleteUpstream($event, virtualHost, upstream)">
                                            Delete
                                        </md-button>

                                        <p class="md-secondary">
                                            Alive: {{ upstream.isAlive }}
                                        </p>

                                    </md-list-item>

                                    <md-button ng-click="virtualHost.upstreamHosts.push({host:'127.0.0.1',port:0})">New
                                    </md-button>
                                    <md-button ng-click="updateVirtualHost(virtualHost)">Save</md-button>

                                </md-list>
                            </div>
                        </div>
                    </md-content>
                </section>
            </div>
        </div>

    </md-content>

</div>


<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-cookies.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

<script>

    angular.module('talosproxy', ['ngMaterial', 'ngMessages', 'ngCookies'])
        .controller('proxyCtrl', ["$scope", "$http", "$mdToast", "$interval", function ($scope, $http, $mdToast, $interval) {

            const defaultHost = {upstreamHosts: [{host: '127.0.0.1', port: 0}]};

            $scope.v = JSON.parse(JSON.stringify(defaultHost));

            $scope.showToast = function (message) {
                $mdToast.show(
                    $mdToast.simple()
                        .textContent(message)
                        .hideDelay(3000)
                );
            };

            $scope.updateVirtualHost = function (payload) {
                $http.put('api/vhost', payload)
                    .then(() => {
                        $scope.showToast('Update with success');
                    })
                    .catch((error) => {
                        console.debug("Error updating vHost upstream", error);
                        $scope.showToast('Error updating host');
                    });
            };

            $scope.submitNewVirtualForm = () => {
                $http.put('api/vhost', $scope.v)
                    .then(() => {
                        $scope.virtualHosts.push($scope.v);
                        $scope.v = JSON.parse(JSON.stringify(defaultHost));
                        $scope.showToast('Host created with success');
                    })
                    .catch((error) => {
                        console.debug("Error updating vHost upstream", error);
                        $scope.showToast('Error creating host');
                    })
            };

            $scope.deleteVirtualHost = (host) => {
                $http.delete('api/vhost?key=' + host)
                    .then(() => {
                        console.debug('Deleted ' + host + 'host');
                        $scope.virtualHosts = $scope.virtualHosts.filter(v => v.host !== host);
                        $scope.showToast('Virtual host was deleted');
                    })
                    .catch((error) => {
                        console.debug('Could not delete vHost', error);
                        $scope.showToast('Virtual host was not deleted');
                    })
            };

            $scope.deleteUpstreamFromForm = (ev, virtual, upstream) => {
                const virtualHost = $scope.v;

                if (virtualHost) {
                    virtualHost.upstreamHosts = virtualHost
                        .upstreamHosts
                        .filter(u => !(u.host === upstream.host && u.port === upstream.port));
                }
            };

            $scope.deleteUpstream = (ev, virtual, upstream) => {
                const virtualHost = $scope.virtualHosts.find(v => v.host === virtual.host);

                if (virtualHost) {
                    virtualHost.upstreamHosts = virtualHost
                        .upstreamHosts
                        .filter(u => !(u.host === upstream.host && u.port === upstream.port));

                    $scope.updateVirtualHost(virtualHost);
                }
            };


            $http.get('api/vhost')
                .then((response) => {

                    $scope.virtualHosts = response.data;

                    console.debug("hosts response", response);
                })
                .catch((error) => {
                    console.debug("Error fetching VHosts", error);
                    $scope.showToast('Could not get virtual hosts from the server');
                });

            $scope.fetchStats = () => {
                $http.get('api/stats')
                    .then((response) => {

                        $scope.statusCodes = new Map();
                        $scope.stats = response.data;

                        for (const key in $scope.stats) {
                            if (/[0-9]{3}$/.test(key)) {

                                const vParts = key.split(':');
                                const vKey = vParts[0];
                                const vCode = vParts[1];

                                if (!$scope.statusCodes.has(vKey)) {
                                    $scope.statusCodes.set(vKey, []);
                                }

                                $scope.statusCodes.get(vKey).push(vCode + ':' + $scope.stats[key]);
                            }
                        }

                        console.debug("stats response", response);
                    })
                    .catch((error) => {
                        console.debug("Error fetching stats", error);
                        $scope.showToast('Could not get stats from the server');
                    });
            };

            $scope.fetchStats();


            $interval(() => {
                $scope.fetchStats();
            }, 12000);

        }])
        .config(["$mdThemingProvider", "$httpProvider", function ($mdThemingProvider, $httpProvider) {

            $mdThemingProvider.theme('default').primaryPalette('amber');

            $httpProvider.interceptors.push(["$cookies", function ($cookies) {
                return {
                    response: function (config) {

                        config.headers['Authorization'] = 'Basic ' + $cookies.get('password');

                        return config;
                    }
                }
            }])

        }]);

</script>

</body>
</html>